.main-container {
	margin-top: 20px;
}

.sidebar-menu li a.active {
	background: rgba(255, 255, 255, 0.1);
}

.sidebar {
	width: 300px;
	background: #dc525a;
	color: #fff;
	position: fixed;
	top: 0;
	bottom: 0;
	height: 100%;
	transition: all 0.3s;
	overflow: hidden;
	padding: 20px;
	min-height: 100vh;
}

.sidebar-logo {
	padding: 10px;
	font-size: 24px;
	text-align: center;
}

.sidebar-menu {
	list-style: none;
	padding: 0;
	margin: 10px 0;
}

.sidebar-menu .sidebar-li {
	margin-bottom: 10px;
}

.sidebar-menu li a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #fff;
	padding: 10px 20px;
	transition: background 0.3s;
}

.sidebar-menu li a i {
	margin-right: 10px;
}

.sidebar-menu li a span {
	display: inline-block;
	transition: opacity 0.3s;
}

.sidebar-menu li a:hover {
	background: rgba(255, 255, 255, 0.1);
}

.sidebar-toggle {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: auto;
}

.sidebar-toggle-button {
	background: none;
	border: none;
	color: #fff;
	cursor: pointer;
	display: flex;
	align-items: center;
	outline: none;
}

.sidebar-toggle-button:focus {
	outline: none;
}

.toggle-text {
	margin-left: 5px;
}

.content {
	margin-left: 250px;
	transition: all 0.3s;
	padding: 20px;
}

.sidebar-shrunk {
	width: 180px;
}

.sidebar-shrunk .sidebar-logo,
.sidebar-shrunk .sidebar-menu li a span,
.sidebar-shrunk .toggle-text {
	display: none;
}

.sidebar-toggle-button i.fa-chevron-left {
	transition: transform 0.3s;
	transform: rotate(0deg);
}

.sidebar-shrunk .sidebar-toggle-button i.fa-chevron-left {
	transform: rotate(180deg) !important;
}

/* Dropdown Styles */
.dropdown-menu {
	display: none;
	height: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
}

.dropdown-menu.open {
	display: block;
}

.dropdown-menu.open li a {
	background: #b34b50;
	padding: 10px 20px;
	opacity: 1;
	transition: opacity 0.3s;
	border: 1px solid transparent;
}

.dropdown-menu.open li a:hover {
	background: #e0646b;
	opacity: 1;
}
